# Junk files
*.bak
*.swp
*~
.DS_Store
._*
*Zone.Identifier

# Firmware files
*.hex
*.bin
*.uf2

# clangd
compile_commands.json
.clangd/
.cache/

# Secrets
users/fivedee/leader-secret.h
layouts/split_3x6_3/fivedee-d5/leader-secret.h